{
  "env": {
    "production": {
      "plugins": [
        [
          "transform-remove-console",
          {
            "exclude": [
              "error",
              "warn"
            ]
          }
        ]
      ]
    }
  },
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "transform-runtime",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true
      }
    ],
    "transform-class-properties"
  ]
}