{
    "presets":[
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        ["transform-remove-console", { "exclude": [ "error", "warn"] }],
        [
            "import",
            { "libraryName": "antd", "libraryDirectory": "es", "style": true }
        ],
        "transform-class-properties"
    ]
}